body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.catcher {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 64px;
    background-color: #1F2937;
    color: white;
}

.main {
    display: flex;
    justify-content: space-between;
    padding: 16px 64px;
    background-color: #1F2937;
    color: white;
    height: 300px;
}

.awesome {
    display: flex;
    flex-flow: column wrap;
}

.head-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.info-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.title {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    margin: 32px 0;
  }  

.img-block {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    gap: 32px;
    max-width: 200px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.quote-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 64px;
}

.quote {
    text-align: center;
    font-size: 36px;
    font-weight: lighter;
    font-family: "light italic";
    color: #1F2937;
}

.quote-block .text{
    font-size: 36px;
    font-weight: lighter;
    font-family: "light italic";
    color: #1F2937;
    margin-left: auto;
    gap: 16px;
}

.action-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
}

.action-content {
    display: flex;
    gap: 8px;
    background-color: #3882F6;
    padding: 32px 32px;
    border-radius: 5px
}

.action-button {
    justify-self: center;
    align-self: center;
}

.action-section h4 {
    margin: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    background: #1F2937;
    color: white;
  }